accessible-pygments==0.0.4
alabaster==0.7.13
annotated-types==0.5.0
application-properties==0.5.2
ast-comments==1.0.1
astroid==2.13.5
attrs==23.1.0
Babel==2.12.1
beautifulsoup4==4.12.2
black==22.6.0
bracex==2.4
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
Columnar==1.4.1
coverage==6.4.4
darglint==1.8.1
dill==0.3.7
docstring-parser==0.15
docstring_parser_fork==0.0.4
docutils==0.18.1
docxbuilder==1.2.0
fastcore==1.5.29
flake8==6.0.0
flake8-isort==6.0.0
ghapi==0.1.19
html5lib==1.1
idna==3.4
imagesize==1.4.1
iniconfig==2.0.0
isort==5.12.0
Jinja2==3.1.2
lazy-object-proxy==1.9.0
lxml==4.9.3
Markdown==3.4.4
MarkupSafe==2.1.3
mccabe==0.7.0
mypy==1.1.1
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
Pillow==10.0.0
platformdirs==3.10.0
pluggy==1.3.0
py==1.11.0
pycodestyle==2.10.0
pydantic==2.4.1
pydantic_core==2.10.1
pydata-sphinx-theme==0.13.3
pydoclint==0.3.2
pydocstyle==6.3.0
pyflakes==3.0.1
Pygments==2.16.1
pylint==2.15.10
pymarkdownlnt==0.9.9
pymdown-extensions==9.5
pyspelling==2.7.3
pytest==6.2.5
PyYAML==6.0.1
regex==2023.3.23
requests==2.31.0
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.5
sphinx-book-theme==1.0.1
sphinx-rtd-theme==1.3.0
sphinx_design==0.5.0
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-contentui==0.2.5
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
toolz==0.12.0
tqdm==4.64.1
typed-argument-parser==1.8.1
typing-inspect==0.9.0
typing_extensions==4.8.0
urllib3==2.0.4
wcmatch==8.5
wcwidth==0.2.6
webencodings==0.5.1
wrapt==1.15.0
